body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Span from top to bottom of the viewport */
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#content {
    margin-left: 250px; /* Adjust the margin to account for sidebar width and space */
    padding: 20px;
    box-sizing: border-box;

}

#table-container {
    max-height: calc(100vh - 100px); /* Adjust as necessary, considering other elements' heights */
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    table-layout: fixed;
}

h1, h2{
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

.action-buttons {
    text-align: center;
    display: flex;
    gap: 5px;
}

.updateButton,
.deleteButton {
    padding: 5px;
    background-color: #555;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.updateButton:hover,
.deleteButton:hover {
    background-color: #777;
}

.viewReport:hover,
.createBill:hover,
.createAccount:hover,
.manageAccounts:hover{
    background-color: #777;
}

.viewReport,
.createBill,
.createAccount,
.manageAccounts{
    padding: 30px;
    background-color: #555;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.logout:hover {
    background-color: #ee0c0c;
}
.logout{
    margin-top: auto;
    padding: 30px;
    background-color: #555;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
}