body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

body::before {
    content: '';
    background: url('../image/bg.jpg') no-repeat fixed center center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}



h2 {
    text-align: center;
    color: rgb(5, 1, 1);
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 20px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

span {
    font-size: 15px;
    color: #a50113;
    margin-top: 10px; 
    margin-bottom: 15px;
    display: block; 
    text-align: center; 
}


.login-block {
    width: 320px;
    position: fixed;
    padding: 50px; /* Padding increased to make the form larger */
    background: #ffffff;
    border-radius: 5px;
    border-top: 10px solid #ff656c;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 50px;
}

.login-block input {
    width: 100%;
    height: 40px; /* Increased height of the input fields */
    box-sizing: border-box;
    border-radius: 20px; /* Adjust border radius if needed */
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px; /* Increased font size for better visibility */
    font-family: Montserrat;
    padding: 0 15px; /* Adjust padding for inner spacing */
    outline: none;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #ff7b81;
}


.password-container {
    position: relative;
    margin-bottom: 20px;
}

#passwordField {
    padding-right: 40px; /* Ensure enough space for the icon */
}

#togglePassword {
    background: transparent;
    border: none;
    padding: 5px;
    position: absolute;
    top: 35%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

#togglePassword i {
    color: #000;
    font-size: 18px;
}

