/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins',sans-serif;
}


body{
  margin:auto;
}

.whole-container {
  position:absolute;
    max-width: 70%;
    width: 70%;
    background: #f9f9f9;
    padding: 100px;
    border-radius: 8px;
    max-height: calc(100vh - 56px);
      overflow-y: auto;
    margin:auto;
    margin-top: 150px;
    margin-left: 0%;
    margin-bottom: 0px;
    box-shadow: 10px 10px 30px grey;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1{
   
  text-align: center;

}

/* Add these styles to your existing CSS file or <style> tag */

/* Position the button */
.logout-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px 30px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999; /* Ensure it's above other elements */
}

.logout-button:hover{
  background-color: #ee0c0c;
}

/* Style on hover */
.logout-button {
  background-color: #555;
}



/* ------------------- Billing Information Banner Here ---------------------------------*/

.banner {
  display:grid;
  grid-template-columns: auto auto auto auto;
}

.studentInfo-text1 {
  margin-top: 50px;
  margin-left: 50px;
 
  font-size: 18px;
  display: inline;
}

.studentInfo-text2 {
  margin-top: 50px;
  margin-left: 700px;

  font-size: 18px;
  display: inline;
}

 span .text-label {
  display: inline-block;
}

span .text-info{
  display: inline-flex;
}

/* Table start here */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}